body{
  margin: 0;
 font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(5, 5, 5, 0.8);
  position: sticky;
  top: 0;
}

header h1 {
  /* border: 1px solid pink; */
  color: white;
  padding-left: 12px;
}

header ul {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

header li {
  list-style: none;
  display: none;
}

header a {
  text-decoration: none;
  color: white;
}

/* ----------------------------------
main
------------------------------------*/
/* menu bar */
table{
  border-collapse: collapse;
  width: 100%;
}

td{
  border: 1px solid #ccc;
  height:2.7rem;
  box-shadow: 0px 10px 10px 0px rgba(230, 224, 224, 0.5);
}
td:hover{
  background-color: rgba(88, 83, 83, 0.5);
}

#gift_menubar a{
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.7rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}


/* ----------------------
gift紹介 
------------------------*/

#e_gift,
#normal_gift,
#large_gift {
  text-align: center;
}

.common h3{
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.common p{
  margin-top: 2rem;
}

.common a{
  text-decoration: none;
  color: black;
}

.common button {
  margin-top: 4rem;
  margin-bottom: 12rem;
  width: 5.2rem;
  height: 3rem;
  border-color:sandybrown;
  border-radius: 3px;
  background: white;
}

.common h3, p{
  font-size: 0.7rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#e_gift img{
  width: 22rem;
  
}
#normal_gift img{
  width: 35rem;
}
#large_gift img{
  width: 30rem;
}




/* --------------------------------
laptop用
----------------------------------*/
@media (min-width: 750px) {
  header ul {
    width: 30rem;
  }
  header li {
    display: block;
  }

  header {
    display: flex;
    justify-content: space-around;
  }

/* ----------------------
gift紹介 
------------------------*/
#flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#e_gift img{
  width: 14rem;
  margin-right: 3rem;
  margin-left: 3rem;
  
}
#normal_gift img{
  width: 22rem;
}
#large_gift img{
  width: 18rem;
}

#large_gift {
  /* border: 2px solid #ccc; */
  padding-right: 2rem;
  padding-left: 2rem;
}
}


/* -----------------------------
footer accordion 
-------------------------------*/

.footer {
  background: #262626;
  text-align: center;
}

.footer .fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(180, 152, 74);
}

.footer .fa:hover {
  color: white;
}

.footer {
  color: white;
  padding: 30px 30px 105px;
}


.footer_menu {
  color: white;
  padding: 20px;
  margin: 0;
}

.footer_menu > div {
  padding-top: 5px;
  border-top: solid 1px rgb(180, 152, 74);
}

.footer_menu > div {
  border-bottom: solid 1px rgb(180, 152, 74);
}

#aboutus > dt {
  margin-top: 20px;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

#aboutus > dd {
  display: none;
  margin: 0 auto;
  font-size: 12px;
}
#contacts > dt {
  margin-top: 20px;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

#contacts > dd {
  display: none;
  margin: 0 auto;
  font-size: 12px;
}
#accessibility > dt {
  margin-top: 20px;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

#accessibility > dd {
  display: none;
  margin: 0 auto;
  font-size: 12px;
}

#aboutus > dt::after {
  content: " ▼ ";
  position: absolute;
  right: 15px;
  transition: transform 0.3;
}

#contacts > dt::after {
  content: " ▼ ";
  position: absolute;
  right: 15px;
  transition: transform 0.3;
}

#accessibility > dt::after {
  content: " ▼ ";
  position: absolute;
  right: 15px;
  transition: transform 0.3;
}

.footer_menu div.appear2 dt::after {
  transform: rotate(180deg);
}

#aboutus.appear2 dd {
  display: block;
  animation: 0.3s fadeIn2;
}
#contacts.appear2 dd {
  display: block;
  animation: 0.3s fadeIn2;
}
#accessibility.appear2 dd {
  display: block;
  animation: 0.3s fadeIn2;
}

@keyframes fadeIn2 {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }

  100% {
      opacity: 1;
      transform: none;
  }
}

.footer_bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 0;
}

.footer_bottom a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer_nav {
  width: 92%;
  margin-left: auto;
  display: flex;
  justify-content: stretch;
  position: fixed;
  bottom: 0;
  left: 4%;
  margin-bottom: 10px;
  transition: margin-bottom .2s ease-out;
}

.navitem1, .navitem2 {
  display: box;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 13px 10px;
  line-height: 14px;
  border: solid 1px rgb(180, 152, 74);
  width: 100%;
  background: #262626;
}

.navitem1 {
  margin-right: 5px;
}

.navitem2 {
  margin-left: 5px;
}


/* -------------------------------------
laptop用
---------------------------------------*/
@media (min-width: 900px) {
  /*--------------------------------------
  header
  --------------------------------------- */
    header ul {
      width: 30rem;
    }
    header li {
      display: block;
    }
  
    header {
      display: flex;
      justify-content: space-around;
    }
  
  }