body{
 margin: 0;
 font-family: 'Montserrat', sans-serif;
 background-color: rgba(14, 12, 12, 0.9);

}
/* --------------------------------------
header
----------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(14, 12, 12, 0.9);
  position: sticky;
  top: 0;
}

header h1 {
  /* border: 1px solid pink; */
  color: white;
  padding-left: 12px;
}

header ul {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

header li {
  list-style: none;
  display: none;
}


header a {
  text-decoration: none;
  color: white;
}

/* -------------------------------------
main
--------------------------------------*/
#main_container img {
  width: 100%;
}

#main_container a {
  color: white;
  text-decoration: none;
}

.icon {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: space-between;
}
.icon ul{
  display: flex;
}
.icon li {
  margin: 10px;
}

.icon li {
  list-style: none;
}

dd {
  display: none;
}

dl {
  color: white;
}

dl > div {
  margin-bottom: 30px;border-bottom: 1px solid rgba(192, 185, 185, 0.8);
}

dt {
  font-size: 24px;
  font-weight: bold;
  height: 3rem;
  cursor: pointer;
  user-select: none;
  position: relative;
  margin-left: 24px;
}

#main_container h3 {
  border-left: thick double #c58127;
  padding-left: 8px;
}

dt::after {
  content: " ＋ ";
  position: absolute;
  top: 3px;
  right: 16px;
  transition: transform 0.3;
}

dl > div.appear dt::after {
  transform: rotate(45deg);
}

dl > div.appear dd {
  display: block;
  animation: 0.3s fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}




/* -----------------------------
footer accordion 
-------------------------------*/

.footer {
  background: #262626;
  text-align: center;
}

.footer .fa {
  padding: 20px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: rgb(180, 152, 74);
}

.footer .fa:hover {
  color: white;
}

.footer {
  color: white;
  padding: 30px 30px 105px;
}


.footer_menu {
  color: white;
  padding: 20px;
  margin: 0;
}

.footer_menu > div {
  padding-top: 5px;
  border-top: solid 1px rgb(180, 152, 74);
}

.footer_menu > div {
  border-bottom: solid 1px rgb(180, 152, 74);
}

#aboutus > dt {
  margin-top: 20px;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

#aboutus > dd {
  display: none;
  margin: 0 auto;
  font-size: 12px;
}
#contacts > dt {
  margin-top: 20px;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

#contacts > dd {
  display: none;
  margin: 0 auto;
  font-size: 12px;
}
#accessibility > dt {
  margin-top: 20px;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

#accessibility > dd {
  display: none;
  margin: 0 auto;
  font-size: 12px;
}

#aboutus > dt::after {
  content: " ▼ ";
  position: absolute;
  right: 15px;
  transition: transform 0.3;
}

#contacts > dt::after {
  content: " ▼ ";
  position: absolute;
  right: 15px;
  transition: transform 0.3;
}

#accessibility > dt::after {
  content: " ▼ ";
  position: absolute;
  right: 15px;
  transition: transform 0.3;
}

.footer_menu div.appear2 dt::after {
  transform: rotate(180deg);
}

#aboutus.appear2 dd {
  display: block;
  animation: 0.3s fadeIn2;
}
#contacts.appear2 dd {
  display: block;
  animation: 0.3s fadeIn2;
}
#accessibility.appear2 dd {
  display: block;
  animation: 0.3s fadeIn2;
}

@keyframes fadeIn2 {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }

  100% {
      opacity: 1;
      transform: none;
  }
}

.footer_bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 0;
}

.footer_bottom a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.footer_nav {
  width: 92%;
  margin-left: auto;
  display: flex;
  justify-content: stretch;
  position: fixed;
  bottom: 0;
  left: 4%;
  margin-bottom: 10px;
  transition: margin-bottom .2s ease-out;
}

.navitem1, .navitem2 {
  display: box;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 13px 10px;
  line-height: 14px;
  border: solid 1px rgb(180, 152, 74);
  width: 100%;
  background: #262626;
}

.navitem1 {
  margin-right: 5px;
}

.navitem2 {
  margin-left: 5px;
}


/* -------------------------------------
laptop用
---------------------------------------*/
@media (min-width: 900px) {
  /*--------------------------------------
  header
  --------------------------------------- */
    header ul {
      width: 30rem;
    }
    header li {
      display: block;
    }
  
    header {
      display: flex;
      justify-content: space-around;
    }
  
  
  /* --------------------------------
  main
  ----------------------------------*/
  
  body {
    background-color: rgba(252, 249, 249, 0.966);
  }
  
  .doflex {
    display: flex;
    justify-content:space-between;
  }
  
  #main_container h3 {
    font-size: 1rem;
    font-weight: bold;
    border-left: thick double #faf8f5;
    border-bottom: 1px solid black;
    width: 6rem;
    text-align: center;
    padding-bottom:0.5rem;
  }
  
  #main_container dt {
    font-size: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
  }
  
  #main_container a{
    color: black;
  }
  
  
  .icon i {
    display: none;
  }
  
  dd {
    display: block;
  }
  
  dl {
    color: black;
  }
  
  dt::after {
    display: none;
  }
  
  dl > div.appear dt::after {
    display: none;
  }
  
  dl > div.appear dd {
   display: none;
  }
  
  @keyframes fadeIn {
    0% {
      display: none;
    }
    
    100% {
      display: none;
    }
  }
}

